<form action="{{ path('receipt-new') }}" method="post">
	<div class="receipt-form-header"></div>
	<div class="receipt-form-body">
	<div class="receipt-items-body">
	<ul id="receipt-items">
		<li class="receipt-item header">
		<span class="item-name">品目</span>
		<span class="item-category">種類</span>
		<span class="item-price">金額</span>
		</li>
		<li class="receipt-item input-block">
		<span class="item-name"><input type="text" name="item_name[]"></span>
		<span class="item-category"><input type="text" name="item_category[]"></span>
		<span class="item-price"><input type="text" name="item_price[]"></span>
		</li>
	</ul>
	<button id="btn-add-item" class="button">アイテム追加</button>
	</div>
	<label for="purchased_date">日付</label>
	<input type="date" id="purchased_date" name="purchased_date" class="input-block" value="{{ values.purchased_date | date('Y-m-d') }}">

	<label for="purchased_time">時間</label>
	<input type="time" id="purchased_time" name="purchased_time" class="input-block" value="{{ values.purchased_time | date('H:i')}}">

	<label for="category_id">種類</label>
	<select id="category_id" name="category_id" class="input-block">
		{% for option in options.category %}
		{% if option.parent_unique_id == 0 %}
		<option value="{{ option.id }}">* {{ option.name }}</option>
		{% else %}
		<option value="{{ option.id }}">　- {{ option.name }}</option>
		{% endif %}
		{% endfor %}
	</select>

	<label for="total">合計</label>
	<input type="text" id="total" name="total" class="input-block" value="{{ values.total }}">
	
	<label for="shop">店名</label>
	<input type="text" id="shop" name="shop" class="input-block">

	<label for="paidfrom_id">出金元</label>
	<select id="paidfrom_id" name="paidfrom_id" class="input-block">
		{% for option in options.paidfrom %}
		<option value="{{ option.id }}">{{ option.name }}</option>
		{% endfor %}
	</select>

	<label for="memo">メモ</label>
	<textarea type="text" id="memo" name="memo" class="input-block">
	</textarea>

	<input type="hidden" name="_method" value="PUT">
	<input type="submit" name="submit" value="Submit" class="button">
	</div>
</form>
